<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nuestras webs</h2>
                <hr class="light">
                <p class="text-faded">Se caracterizan por ser de formato One Page, tener alta visibilidad en Google, poseer la capacidad de ser autosustentable, 
                contar con una galería de imágenes y estar vinculada a sus redes sociales.
                </p>
            </div>
        </div>
    </div>
</section>
