<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Tenemos lo que necesitas!</h2>
                <hr class="light">
                <p class="text-faded">¡Start Bootstrap tiene todo lo que necesita para poner en funcionamiento su nuevo sitio web en muy poco tiempo! Todas las plantillas y temas en Start Bootstrap son de código abierto, de descarga gratuita y fáciles de usar. ¡Sin ataduras!</p>
            </div>
        </div>
    </div>
</section>
