<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¡Contactese con nosotros!</h2>
                <hr class="primary">
                <p>Puede enviarnos su consulta en cualquier momento para pedir su presupuesto o despejar cualquier otra duda. Y le responderemos a la brevedad.</p>

                <html>
                    <script type="text/javascript">var submitted=false;</script>
                            <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='{{site.baseurl}}/buscotrabajoargentina.github.io/gracias-por-contactarse/';}"></iframe>
                   
                   <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSe7E0f5w3-8wlCWkT1XFhBObSE5v3ibLw-0XrRCe0FmGoufIA/formResponse" method="post" target="hidden_iframe"
                   onsubmit="submitted=true;">
                   
                       <div>
                           <fieldset>
                               <legend>Nombre y Apellido</legend>
                       <input name="entry.416087328" type="text" size="40" required />
                           </fieldset>
                       </div>
                       &nbsp;
                       <div>
                           <fieldset>
                               <legend>Email</legend>
                       <input name="entry.161054157" type="email" size="40" required />
                           </fieldset>
                       </div>
                       &nbsp;
                       <div>
                           <fieldset>
                               <legend>Asunto</legend>
                       <input name="entry.1956517260" type="text" size="40" required />
                           </fieldset>
                       </div>
                       &nbsp;
                       <div>
                           <fieldset>
                               <legend>Mensaje</legend>
                               <textarea name="entry.157878081" rows="4" cols="40" placeholder="Escriba algo" required></textarea>
                           </fieldset>
                       </div>
                       &nbsp;
                       <div>
                       <input type="submit" value="Enviar" />
                       </div>
                   
                   </form>
                   </html>

            </div>
    </div>
</section>
