<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://webworker-ar.github.io/barbershopclassic/" class="portfolio-box">
                    <img src="img/portfolio/1-barberia.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Barbería
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://webworker-ar.github.io/Cerveceria-Lupulus/" class="portfolio-box">
                    <img src="img/portfolio/2-cerveceria.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Cervecería
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://webworker-ar.github.io/el-sauce/" class="portfolio-box">
                    <img src="img/portfolio/3-hostel.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Hostel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4-mecanico.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Mecánica
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5-traductor.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Traductor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6-reposteria.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                One Page
                            </div>
                            <div class="project-name">
                                Repostería
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
