<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A su servicio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Plantillas resistentes</h3>
                    <p class="text-muted">Nuestras plantillas se actualizan regularmente para que no se rompan.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Listo para enviar</h3>
                    <p class="text-muted">¡Puedes usar este tema tal cual o puedes hacer cambios!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>A hoy</h3>
                    <p class="text-muted">Actualizamos dependencias para mantener las cosas frescas.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Hecho con amor</h3>
                    <p class="text-muted">¡Tienes que hacer tus sitios web con amor en estos días!</p>
                </div>
            </div>
        </div>
    </div>
</section>
